.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.center {
  align-items: center;
  text-align: center;
}

.text-align-end {
  text-align: end;
}

.column-full,
.column-half {
  width: 100%;
}

.column-fifth {
  width: 20%;
}

.column-fifth-fill {
  width: 80%;
}

.column-free {
  width: auto;
}

.padding-left {
  padding-left: 0;
}

.padding-left-entries {
  padding-left: 0;
}

.space-between {
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half, {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  .padding-left {
    padding-left: 20px;
  }

  .padding-left-entries {
    padding-left: 40px;
  }
}
